<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
        <script src="/socket.io/socket.io.js"></script>
        <script src="./addProduct.js"></script>
    </header>
    
    <main>
        <h3>Agregar producto</h3>
        <form onsubmit="addProducts(this)">
            <input type="hidden" id="_id" value="1">
            <input type="text" id="nombre" placeholder="Nombre del producto">
            <input type="number" id="precio" placeholder="Ejemplo: 1500">
            <input type="submit" value="Agregar producto">
        </form>
        <br>
        <div class="jumbotron">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">precio</th>
                    </tr>
                </thead>
                <tbody id="products">
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>